.image1{
    float: left;
    display:flex;
    margin-top:5%;
    margin-left:10%;
    margin-right:10%;
    height: 200px;
    width: 200px;
}
.a{
    display:flex;
    justify-content:right;
    margin-top:10%;
    margin-left:10%;
    margin-right:10%;
    text-align: left
    
}
.image2{
    float: right;
    display:flex;
    margin-top:5%;
    margin-left:10%;
    margin-right:10%;
    height: 200px;
    width: 200px;
}
.b{
    display:flex;
    justify-content:left;
    margin-top:10%;
    margin-left:10%;
    margin-right:10%;
    text-align: left
}
.box1{
    float: left;
    margin: 10px 15px 10px 50px;
    border: 1px solid #000000; 
    width: 20%;
    padding: 20px;
    border-radius:10px;
    text-align: center;
    width: 23.33%;
}
.box2{
    float: right;
    margin: 10px 15px 10px 50px;
    border: 1px solid #000000; 
    padding: 20px;
    border-radius:10px;
    text-align: center;
    width: 23.33%;
}
.box3{
    margin:0 auto;
    border: 1px solid #000000; 
    padding: 5px;
    border-radius:5px;
    text-align: center;
    width: 23.33%;
    display: flex;

}
.box1:hover{
    background-color: rgba(240, 196, 255, 0.174);
}
.box2:hover{
    background-color: rgba(13, 125, 237, 0.174);
}
.box3:hover{
    background-color: rgba(98, 142, 76, 0.6);
}

